Ques1. What are data structures, and why are they important.

Ans. Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They're important because they allow for optimized performance in terms of memory use, speed, and scalability.

Ques2: Explain the difference between mutable and immutable data types with examples.

Ans. Mutable: Can be changed after creation (e.g., list, dict, set).

  Immutable: Cannot be changed after creation (e.g., int, float, tuple, str).

In [ ]:
mutable_list = [1, 2, 3]
mutable_list.append(4)  # List changed
print(mutable_list)

q
immutable_str = "Hello"
# immutable_str[0] = "h"  # Error: strings are immutable

[1, 2, 3, 4]

Ques3: What are the main differences between lists and tuples in Python?

Ans. List: A list is a built-in data structure in Python that is used to store a collection of items. Lists are mutable. They are created using square brackets [ ], and can hold different data types such as integers, strings, or even other lists.

Tuple: A tuple is another built-in data structure in Python used to store collections of items. Unlike lists, tuples are immutable, meaning that once a tuple is created, its elements cannot be changed, added to, or removed. Tuples are defined using parentheses (), and like lists, they can hold multiple data types. Due to their immutability, tuples are generally more memory-efficient and faster than lists, making them suitable for fixed data sets.

Ques4: Describe how dictionaries store data.

Ans. Dictionaries store data in key-value pairs using a hash table. Keys must be unique and hashable.

In [ ]:
student = {"name": "Alice", "age": 20}

{'name': 'Alice', 'age': 20}

Ques5. Why might you use a set instead of a list in Python?

Ans: we used set insted of list because:
1. To eliminate duplicates
2. For faster membership testing

In [ ]:
s = set([1, 2, 2, 3])
print(s)

{1, 2, 3}

Ques6. What is a string in Python, and how is it different from a list?

Ans: A string is an immutable sequence of characters and Lists can hold any data type and are mutable while string are immutable.

ques7. How do tuples ensure data integrity in Python?

Ans: Tuples are immutable, so the data can’t be changed accidentally. This makes them suitable for constant data.

Ques8. What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

Ques9. Can lists contain different data types in Python?

Ans: Yes list can contain diff data types.

In [ ]:
mixed = [1, "hello", 3.14]
print(mixed)

[1, 'hello', 3.14]

Ques10. Explain why strings are immutable in Python.

Ans: Strings are immutable for safety, optimization, and to enable hashability (e.g., as dictionary keys).

Ques11. What advantages do dictionaries offer over lists for certain tasks?

Ans: Advantages of dictionary over lists:
1. Faster lookup with keys
2. Clear key-value mapping

Ques12. Describe a scenario where using a tuple would be preferable over a list.

Ans: We can used tuple over list when storing fixed configuration settings, like coordinates (x, y) or database credentials.

Ques13. How do sets handle duplicate values in Python?

Ans: Sets automatically remove duplicates.

In [ ]:
s = set([1, 2, 2, 3])
print(s)

{1, 2, 3}

Ques14. How does the “in” keyword work differently for lists and dictionaries?

Ans: "in" keyword for:
1. List: checks if a value exists
2. Dict: checks if a key exists

In [ ]:
3 in [1, 2, 3]
'name' in {'name': 'Bob'}

True

Ques15. Can you modify the elements of a tuple? Explain why or why not.

Ans: No. Tuples are immutable, so elements cannot be changed after creation.

Ques16. What is a nested dictionary, and give an example of its use case.

Ans: A dictionary inside another dictionary. Used for structured data.

In [ ]:
student = {'name': 'John', 'marks': {'math': 90, 'science': 85}}
print(student)

{'name': 'John', 'marks': {'math': 90, 'science': 85}}

Ques17. Describe the time complexity of accessing elements in a dictionary.

Ans: O(1) on average due to hash table implementation.

Ques18. In what situations are lists preferred over dictionaries?

Ans: List are preferred over dictionaries for:

1. Ordered data
2. When key-value pairs aren’t needed
3. Simpler and more memory-efficient for small datasets

Ques19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Pre-Python 3.7, dictionaries were unordered. Now they preserve insertion order but logically still considered unordered as key lookups are not position-based.

Ques20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:  List: By index (position-based)

Dict: By key (name-based)

## Practical Questions

Ques1: Write a code to create a string with your name and print it.

Ques2: Write a code to find the length of the string "Hello World".

Ques3: Write a code to slice the first 3 characters from the string "Python Programming".

Ques4: Write a code to convert the string "hello" to uppercase.

Ques5: Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# 1.
name = "Alice"
print(name)

# 2.
print(len("Hello World"))

# 3.
s = "Python Programming"
print(s[:3])

# 4.
print("hello".upper())

# 5.
s = "I like apple"
print(s.replace("apple", "orange"))

Alice
11
Pyt
HELLO
I like orange

Ques6: Write a code to create a list with numbers 1 to 5 and print it.

Ques7: Write a code to append the number 10 to the list [1, 2, 3, 4].

Ques8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

Ques9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

Ques10: Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# 6.
lst = [1, 2, 3, 4, 5]
print(lst)

# 7.
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

# 8.
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

# 9.
lst = ['a', 'b', 'c', 'd']
print(lst[1])

# 10.
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 10]
[1, 2, 4, 5]
b
[50, 40, 30, 20, 10]

Ques11: Write a code to create a tuple with the elements 100, 200, 300 and print it.

Ques12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

Ques13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

Ques14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ques15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# 11.
t = (100, 200, 300)
print(t)

# 12.
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # blue

# 13.
t = (10, 20, 5, 15)
print(min(t))

# 14.
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

# 15."
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

(100, 200, 300)
blue
5
1
False

Ques16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

Ques17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

Ques18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

Ques19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

Ques20: Write a code to find the intersection of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# 16.
s = {'a', 'b', 'c'}
print(s)

# 17.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

# 18.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

# 19.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

# 20.
print(a.intersection(b))

{'b', 'c', 'a'}
set()
{1, 2, 3}
{1, 2, 3, 4, 5}
{3}

Ques21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

Ques22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

Ques23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

Ques24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

Ques25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# 21.
d = {'name': 'John', 'age': 25, 'city': 'NY'}
print(d)

# 22.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

# 23.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

# 24.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

# 25.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

{'name': 'John', 'age': 25, 'city': 'NY'}
{'name': 'John', 'age': 25, 'country': 'USA'}
Alice
{'name': 'Bob', 'city': 'New York'}
True

Ques26: Write a code to create a list, a tuple, and a dictionary, and print them all.

Ques27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

Ques28: Write a code to create a list with strings and print the element at the third index.

Ques29: Write a code to combine two dictionaries into one and print the result.

Ques30: Write a code to convert a list of strings into a set.

In [ ]:
# 26.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print(lst, tup, dct)

# 27.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

# 28.
lst = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(lst[3])

# 29.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

# 30.
lst = ['apple', 'banana', 'apple']
print(set(lst))

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}
[3, 83, 93, 94, 96]
date
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'apple', 'banana'}